
        	/*GLOBALS*/
        	:root {
        		--hilite: #EBFA98;
        		--f-display: acumin-pro, sans-serif;
        		--f-text: acumin-pro, sans-serif;
        		--arrows:  din-2014, sans-serif;
        	}

        	body, html {
        		/*necessary*/
        		height: 100%;
        		
        		margin: 0;
        	}

        	h1, h2, h3, h4, h5 {
        		font-family: var(--f-display);
        		font-weight: 500;

        		font-style: normal;
        		margin-top: 0;
        	}

        	p {
        		font-family: var(--f-text);
        		font-weight: 200;
        		font-style: normal;
        	}



        	canvas {
				position:fixed;
				z-index:4;
				left:	0;
				top:	0;
				/*opacity:0.5;
				border:	1px solid #000;*/
			}

			/*DOM*/
        	.intro_page {
        		color: white;
        		text-shadow: 2px 2px #222;
        		/*background-color: rgba(20,20,20,0.2);*/
        	}

        	.page_header {
        		font-size: 36px;
        		margin: 20px 40px 0px 40px;
        	}

        	.page_subheader {
        		font-size: 24px;
        		margin: 0 40% 20px 40px;
        	}

        	.photo {
				z-index: 0;
        		width: 100%;
        		height: 100%;
        		object-fit: cover;
        		object-position: 50% 50%;
        		position: fixed;
        	}

        	#story_panelI1 {
        		
        		/*background-color: rgba(20,20,20,0.8);*/
        		height:  80%;
        		width: 100%;
        		z-index: 10;
        		top: 0;
        		margin-left: 0;

        	}

        	.highlight {
    			color: var(--hilite);
    		}

        	/*MODULES*/
        	.module_child {
        		/*border: 2px solid yellow;*/
        		height: 99%;
        	}

        	.sticky_module_child {
        		position: -webkit-sticky;
        		position: sticky;
        		top: 1%;
        	}

        	.story_panel {
        		/*background-color: white;*/
        		padding: 20px;
        		color: white;
        		margin-left: 10%;
        	}

        	.story_card {
        		z-index: 10;
        		width: 40%;
        		background-color: rgba(20,20,20,0.8);
        		padding: 24px 24px 24px 40px;
        	}

        	.story_card_header {
    			font-size: 32px;
    			margin: 0 0 20px 0;
    		}

    		.story_card_copy {
    			color: white;
        		text-shadow: 0.5px 0.5px #222;
        		font-size: 20px;
        		margin: 0 0 10px 0;
    		}    		

        	.story_full_width {
        		width: 60%;
        	}

        	@media only screen and (max-width: 800px) {
        		body .sticky_story_panel {
	        		
	        		top: 0;
	        	}

	        	body .story_panel {
	        		margin: 0%;
	        		box-sizing: border-box;
	        		width: 100%;
	        		padding: 6%;

	        	}

	        	body .story_card_copy {
	        		margin: 0;
	        	}

	        	body .page_header {
	        		font-size: 28px;
	        		margin: 20px;
	        		
	        	}

	        	body .page_subheader {
	        		font-size: 20px;
	        		margin: 20px;
	        		
	        	}
        	}

        	.sticky_story_panel {
        		position: -webkit-sticky;
        		position: sticky;
        		top: 10%;
        	}
        	



        	/*SPACERS*/
        	.module_spacer {
        		min-height: 100%;
        	}

        	.story_spacer {
        		height: 100%;
        	}

        	.spacer_12 {
        		min-height: 100%;
        		height: 100%;
        	}

        	.spacer_9 {
        		min-height: 75%;
        		height: 75%;
        	}

        	.spacer_6 {
        		min-height: 50%;
        		height: 50%;
        	}

        	.spacer_4 {
        		min-height: 33.33%;
        		height: 33.33%;
        	}	        	

        	/*INTERACTIVES*/
        	.autoplay {
        		position: fixed;
        		bottom: 5%;
        		left:  5%;
        		background-color: black;
        		color: white;
        		padding: 20px;
        		border-radius: 20px;
        		cursor: pointer;
        		z-index: 5;
        		font-family: var(--f-text);
        	}

        	.autoplay-hidden {
        		display: none;
        	}

        	.call_to_action {
        		animation: bounce 1s ease-in-out infinite;
				animation-fill-mode: both;
				color: var(--hilite);
				font-weight: 500;
        	}

        	@keyframes bounce {
			  0%, 100% {
			  	transform: translateY(0%);
			  }
			  50% {
			    transform: translateY(13%);
			  }
			}

			.down_arrow {
        		font-family: var(--arrows);
        		font-size: 72px;
        	}

        	/*DEBUG*/
        	.debug {
        		position: fixed;
        		left: 20;
        		z-index: 1000;
        		background-color: white;
        		color: blue;
        		width: 200px;
        		height: 50px;
        	}
